body {
    
     }
     :root {
        --primary-color: rgb(255, 255, 255);
        --secondary-color: #ccc;
        --background-color: #fff;
      }
      
      [data-theme="dark"] {
        --primary-color: rgb(0, 0, 0);
        --secondary-color: #333;
        --background-color: #111;
      }
    header, footer {
        background-color: rgb(7 54 66);
      }
      body, header, footer {
        color: rgb(1, 13, 18)
      }
      article a {
        color: magenta;
      }
      article a:hover {
        color: orange;
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      
      nav li {
        text-align: center;
        margin: 0 10px;
      }
    
      .section-box {
        border: 3px solid cyan;
        padding: 10px;
        
      }
      header h1 {
        text-align: center;
        font-size: 300%;
        color: yellow;
      }
      h2 {  
        font-size: 100%;
        color: rgb(225, 225, 49);
      }
      nav ul {
        list-style: none;
      }
      aside {
        color: green;
      }
      aside a {
        color: rgb(11, 36, 230);
      }
      
      aside a:hover {
        color: rgb(255, 0, 30);
      }
      body {
        max-width: 800px;
        margin: 0 auto;
      }
      article h1, article h2, article h3, article h4, article h5, article h6 {
        padding-top: 50px;
      }