
 body {
    background-color: rgb(0, 43, 54); }
    header, footer {
        background-color: rgb(7 54 66);
      }
      body, header, footer {
        color: rgb(232, 237, 239)
      }
      article a {
        color: magenta;
      }
      article a:hover {
        color: orange;
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      
      nav li {
        text-align: center;
        margin: 0 10px;
      }
      .section-box {
        border: 3px solid cyan;
        padding: 10px;
        
      }
      header h1 {
        text-align: center;
        font-size: 300%;
        color: yellow;
      }
      h2 {  
        font-size: 100%;
        color: rgb(225, 225, 49);
      }
      nav ul {
        list-style: none;
      }
      aside {
        color: orange;
      }
      aside a {
        color: rgb(11, 36, 230);
      }
      
      aside a:hover {
        color: rgb(255, 0, 30);
      }
      body {
        max-width: 800px;
        margin: 0 auto;
      }
      article h1, article h2, article h3, article h4, article h5, article h6 {
        padding-top: 50px;
      }